* {
    padding: 0;
    margin: 0;
}

svg.background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    display: block;
    background-color: #0e4166;
    background-image: linear-gradient(to bottom, rgba(14, 65, 102, 0.86), #0e4166);
}

.form-inline .input-select-item {
    width: 100%;
}

.form-inline .input-select-item .select-title {
    border-radius: 5px;
    height: 100%;
    padding: 9px 9px;
    border: 0.5px #ccc solid;
    width: 115%;
    cursor: pointer;
    margin-left: -15px;
}

.form-inline .input-select-item .select-title span {
    user-select: none;
    font-size: 14.5px;
    font-weight: 600;
    max-height: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.form-inline .input-select-item .select-title i {
    transform: rotate(0deg);
    transition: all .3 ease-in-out;
}

.form-inline.active .input-select-item .select-title i {
    transform: rotate(-180deg);
}

.form-inline .input-select-item .select-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.form-inline .select-options {
    position: absolute;
    bottom: 100%;
    left: 0;
    max-height: 150px;
    display: none;
    background-color: #fff;
    width: 100%;
    transition: all .3 ease-in-out;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
    opacity: 0;
}

.form-inline.active .select-options {
    opacity: 1;
    display: block;
}

.form-inline .select-options input {
    height: 30px;
    padding-left: 5px;
    padding-right: 5px;
    font-size: 14px;
    width: 100%;
}

.form-inline .select-options .ul-options li {
    font-size: 14px;
    width: 100%;
    height: 35px;
    padding: 5px;
    line-height: 13px;
    user-select: none;
    font-weight: 600;
    /* white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; */
}

.form-inline .select-options .ul-options li.selected {
    background: gray;
    color: white;
}

.form-inline .select-options .ul-options li.hoverable:hover:not(.selected) {
    background-color: cadetblue;
    color: white;
}

.form-inline .select-options .ul-options {
    width: 100%;
    max-height: 120px;
    overflow: auto;
    padding: 0;
}

.form-inline .select-options .ul-options::-webkit-scrollbar {
    width: 5px;
    background-color: rgba(148, 148, 148, 0.2);
}

.form-inline .select-options .ul-options::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}

.main-content .loader-container {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    background-color: rgba(148, 148, 148, 0.2);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
    transition: all 0.5s ease-in-out;
}

.main-content .loader-container.active {
    display: block;
}

.scalable {
    transition: all .3s ease;
    cursor: pointer;
}

.scalable:hover {
    transform: scale(1.05);
}

.row-supply {
    position: relative;
    overflow-x: hidden;
    width: 100%;
    height: 80vh;
    z-index: 1;
    background: rgba(56, 182, 255, 0.178);
}

.row-supply .state {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    transition: all .4s ease-in-out
}

.row-supply .state-2 {
    transform: translateX(100%);
}

.row-supply .state-1.deactive {
    transform: translateX(-100%);
}

.row-supply .state-2.active {
    transform: translateX(0);
}

.transition-2 {
    transition: all .2s ease;
}

.transition-3 {
    transition: all .3s ease;
}

.card-body.overflow::-webkit-scrollbar {
    width: 5px;
    background: rgba(0, 0, 0, 0.13);
    border-radius: 10px;
    display: none;
    transition: all .3s ease
}

.card-body.overflow:hover::-webkit-scrollbar {
    display: block;
}

.card-body.overflow::-webkit-scrollbar-thumb {
    width: 5px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 5px;
}

.has-message::before {
    content: "";
    position: absolute;
    width: 6px;
    height: 6px;
    background: red;
    opacity: 0;
    left: 9%;
    top: 29%;
    border-radius: 50%;
    -webkit-animation-name: animation;
    animation-name: animation;
    animation-duration: .8s;
    -webkit-animation-duration: .8s;
    animation-timing-function: ease;
    -webkit-animation-timing-function: ease;
    animation-iteration-count: infinite;
}

.loader-hidden {
    visibility: hidden;
    opacity: 0;
}

@keyframes animation {
    0% {

        opacity: 0.1;
    }

    100% {
        opacity: 1;
    }
}

.login-form {
    padding: 30px 25px;
}


.login-page {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    /* background: url('../img/bg.jpg'); */
}

.login-page .input i {
    position: absolute;
    z-index: 999;
    color: black;
}

.form-container {
    background: rgba(255, 255, 255, 0.17);
    border-radius: 5px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(4.8px);
    -webkit-backdrop-filter: blur(4.8px);
    border: 1px solid rgba(255, 255, 255, 0.03);
    width: 400px;
    transition: all .6s ease-in-out;
    overflow-x: hidden;
}

.login-page .page-container {
    display: flex;
    flex-direction: row;
    width: 800px;
    position: relative;
}

.login-page .page-container .page {
    width: 100%;
    transition: all .3s ease-in-out;
}

.login-page .page-container .page.hidden {
    visibility: hidden;
}

.login-page .page-container .page.step {
    transform: translateX(-100%);
}

.login-page .page-container .loading {
    background: rgba(0, 0, 0, 0.3);
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 999;
}

.modal-timeout {
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(255, 255, 255, 0.2);
    background-color: rgba(255, 255, 255, 0.2);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(3px);
}

.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    max-width: 60%;
}

.form {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    width: 350px;
    background-color: white;
    border-radius: 12px;
    padding: 20px;
    gap: 15px;
}

.title {
    font-size: 20px;
    font-weight: bold;
    color: black;
}

.message {
    color: #a3a3a3;
    font-size: 14px;
    text-align: center;
    line-height: 17px;
    font-weight: 600;
}

.inputs {
    margin-top: 10px
}

.inputs input {
    width: 32px;
    height: 32px;
    text-align: center;
    border: none;
    border-bottom: 1.5px solid #d2d2d2;
    margin: 0 10px;
}

.inputs input:focus {
    border-bottom: 1.5px solid royalblue;
    outline: none;
}

.action {
    margin-top: 24px;
    padding: 12px 16px;
    border-radius: 8px;
    border: none;
    background-color: royalblue;
    color: white;
    cursor: pointer;
    align-self: end;
}

button {
    --primary-color: #645bff;
    --secondary-color: #fff;
    --hover-color: #111;
    --arrow-width: 10px;
    --arrow-stroke: 2px;
    box-sizing: border-box;
    border: 0;
    border-radius: 20px;
    color: var(--secondary-color);
    padding: 1em 1.8em;
    background: var(--primary-color);
    display: flex;
    transition: 0.2s background;
    align-items: center;
    gap: 0.6em;
    font-weight: bold;
  }
  
  button .arrow-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  button .arrow {
    margin-top: 1px;
    width: var(--arrow-width);
    background: var(--primary-color);
    height: var(--arrow-stroke);
    position: relative;
    transition: 0.2s;
  }
  
  button .arrow::before {
    content: "";
    box-sizing: border-box;
    position: absolute;
    border: solid var(--secondary-color);
    border-width: 0 var(--arrow-stroke) var(--arrow-stroke) 0;
    display: inline-block;
    top: -3px;
    right: 3px;
    transition: 0.2s;
    padding: 3px;
    transform: rotate(-45deg);
  }
  
  button:hover {
    background-color: var(--hover-color);
  }
  
  button:hover .arrow {
    background: var(--secondary-color);
  }
  
  button:hover .arrow:before {
    right: 0;
  }

.button:hover::before {
    transform: translate(5%, 20%);
    width: 110%;
    height: 110%;
}

.button:hover::after {
    border-radius: 10px;
    transform: translate(0, 0);
    width: 100%;
    height: 100%;
}

.button:active::after {
    transition: 0s;
    transform: translate(0, 5%);
}